<section class="about-me section-indent" id="about-me">
  <div class="container">
    <div class="about-me-container">
      <h2 class="visually-hidden">About me</h2>
      <div class="about-me-wrap">
        <div class="about-me-wrap-text">
          <p class="about-me-text">
            I work with people all over the world to create impressive and
            <span class="accent-functional">functional</span>
            <span class="accent-websites">websites</span> that reflect each
            client's unique personality.
          </p>
        </div>
        <picture>
          <source
            srcset="
              ./img/desktop/about-me-desktop.webp    1x,
              ./img/desktop/about-me-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/tablet/about-me-tablet.webp    1x,
              ./img/tablet/about-me-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/about-me.webp    1x,
              ./img/mobile/about-me@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/desktop/about-me-desktop.webp"
            alt="About me"
            loading="lazy"
          />
        </picture>
      </div>
      <ul class="about-me-list">
        <li class="about-me-item">
          <div class="about-me-wrap-title-line">
            <h3 class="about-me-item-title">About me</h3>
            <div class="about-me-wrap-icon">
              <svg
                class="about-me-icon about-me-icon-open"
                width="20"
                height="20"
              >
                <use href="./img/icons.svg#icon-more"></use>
              </svg>
            </div>
          </div>
          <div class="about-me-item-wrap-text">
            <p class="about-me-item-text">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages and technologies, always ready to
              improve my skills. I always follow the latest trends and look for
              unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </p>
            <p class="about-me-item-text">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work. I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </p>
          </div>
        </li>
        <li class="about-me-item">
          <div class="about-me-wrap-title-line">
            <h3 class="about-me-item-title">Role</h3>
            <div class="about-me-wrap-icon">
              <svg class="about-me-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-more"></use>
              </svg>
            </div>
          </div>
        </li>
        <li class="about-me-item">
          <div class="about-me-wrap-title-line">
            <h3 class="about-me-item-title">Education</h3>
            <div class="about-me-wrap-icon">
              <svg class="about-me-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-more"></use>
              </svg>
            </div>
          </div>
        </li>
      </ul>
      <div class="swiper-container about-me-container-container">
        <div class="swiper swiper-about-me">
          <ul class="skills-list swiper-wrapper">
            <!-- <div class="swiper-slide"> -->
            <li class="skills-item-wrap swiper-slide skills-item-wrap-activ">
              <p class="skills-item">HTML/CSS</p>
            </li>
            <!-- </div> -->
            <!-- <div class="swiper-slide"> -->
            <li class="skills-item-wrap swiper-slide">
              <p class="skills-item">JavaScript</p>
            </li>
            <!-- </div> -->
            <!-- <div class="swiper-slide"> -->
            <li class="skills-item-wrap swiper-slide">
              <p class="skills-item">React</p>
            </li>
            <!-- </div> -->
            <!-- <div class="swiper-slide"> -->
            <li class="skills-item-wrap swiper-slide">
              <p class="skills-item">Node.js</p>
            </li>
            <!-- </div> -->
            <!-- <div class="swiper-slide"> -->
            <li class="skills-item-wrap swiper-slide">
              <p class="skills-item">React Native</p>
            </li>
            <!-- </div> -->
            <!-- <div class="swiper-slide"> -->
            <li class="skills-item-wrap swiper-slide">
              <p class="skills-item">Soft skills</p>
            </li>
            <!-- </div> -->
            <!-- <div class=".swiper-button-next about-me-icon-skills-wrap">
              <svg class="about-me-icon-skills" width="25" height="25">
                <use href="./img/icons.svg#icon-more"></use>
              </svg>
            </div> -->
          </ul>
          <!-- <div class="swiper-button-next"></div> -->
        </div>
      </div>
    </div>
  </div>
</section>
