<section class="about-me section-indent" id="about-me">
  <div class="container">
    <div class="about-me-container">
      <h2 class="visually-hidden">About me</h2>
      <div class="about-me-wrap">
        <div class="about-me-wrap-text">
          <p class="about-me-text">
            I work with people all over the world to create impressive and
            <span class="accent-functional">functional</span>
            <span class="accent-websites">websites</span> that reflect each
            client's unique personality.
          </p>
        </div>
        <picture>
          <source
            srcset="
              ./img/desktop/about-me-desktop.webp    1x,
              ./img/desktop/about-me-desktop@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/tablet/about-me-tablet.webp    1x,
              ./img/tablet/about-me-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/mobile/about-me.webp    1x,
              ./img/mobile/about-me@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/desktop/about-me-desktop.webp"
            alt="About me"
            loading="lazy"
          />
        </picture>
      </div>
      <ul class="about-me-list accordion-container">
        <li class="about-me-item ac">
          <div class="about-me-wrap-title-line">
            <h3 class="about-me-item-title ac-header">About me</h3>
            <button type="button" class="about-me-wrap-icon ac-trigger" aria-label="about me more 3">
              <svg class="about-me-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-more"></use>
              </svg>
            </button>
          </div>
          <div class="about-me-item-wrap-text ac-panel">
            <p class="about-me-item-text ac-text">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages and technologies, always ready to
              improve my skills. I always follow the latest trends and look for
              unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
              <br /><br />
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work. I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </p>
          </div>
        </li>
        <li class="about-me-item ac">
          <div class="about-me-wrap-title-line">
            <h3 class="about-me-item-title ac-header">Role</h3>
            <button type="button" class="about-me-wrap-icon ac-trigger">
              <svg class="about-me-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-less"></use>
              </svg>
            </button>
          </div>
          <div class="about-me-item-wrap-text ac-panel">
            <p class="about-me-item-text ac-text">
              Frontend development<br /><br />
              HEadlessCMC, Wordpress,<br /><br />
              Blender(enjoy)<br /><br />
            </p>
          </div>
        </li>
        <li class="about-me-item ac">
          <div class="about-me-wrap-title-line">
            <h3 class="about-me-item-title ac-header">Education</h3>
            <button type="button" class="about-me-wrap-icon ac-trigger" aria-label="about me more 2">
              <svg class="about-me-icon" width="20" height="20">
                <use href="./img/icons.svg#icon-less"></use>
              </svg>
            </button>
          </div>
          <div class="about-me-item-wrap-text ac-panel">
            <p class="about-me-item-text ac-text">
              2018 - 2019 / Frontend Development Diploma, GoIT IT<br />
              School, New York<br /><br />
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT<br />
              School, New York<br /><br />
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </div>
        </li>
      </ul>
      <div class="swiper-container">
        <div class="about-me-container-container">
          <div class="swiper swiper-about-me">
            <ul class="swiper-wrapper skills-list">
              <li class="skills-item-wrap swiper-slide skills-item-wrap-activ">
                <p class="skills-item">HTML/CSS</p>
              </li>
              <li class="skills-item-wrap swiper-slide">
                <p class="skills-item">JavaScript</p>
              </li>
              <li class="skills-item-wrap swiper-slide">
                <p class="skills-item">React</p>
              </li>
              <li class="skills-item-wrap swiper-slide">
                <p class="skills-item">Node.js</p>
              </li>
              <li class="skills-item-wrap swiper-slide">
                <p class="skills-item">React Native</p>
              </li>
              <li class="skills-item-wrap swiper-slide">
                <p class="skills-item">Soft skills</p>
              </li>
            </ul>

            <button
              type="button"
              id="about-me-btn"
              aria-label="about me skills"
              class="btn-next about-me-icon-skills-wrap"
              aria-label="about me more 3"
            >
              <svg class="about-me-icon-skills" width="40" height="40">
                <use href="./img/icons.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
