<section class="benefits" id="benefits">
  <div class="container">
    <div class="benefits-cont">
      <h2 class="benefits-title">Benefits of working with me</h2>
      <div class="benefits-info">
        <ul class="benefits-list">
          <li class="benefits-part">
            <div class="benefits-icon">
              <svg class="benefits-svg">
                <use href="../img/icons.svg#icon-user"></use>
              </svg>
            </div>
            <h3 class="benefits-subtitle">Expertise</h3>
            <p class="benefits-description">
              As a highly experienced developer, I have deep knowledge of
              programming and website development.
            </p>
          </li>
          <li class="benefits-part">
            <div class="benefits-icon">
              <svg class="benefits-svg">
                <use href="../img/icons.svg#icon-message"></use>
              </svg>
            </div>
            <h3 class="benefits-subtitle">Communication</h3>
            <p class="benefits-description">
              Understanding your needs and wants is my priority and I am always
              open to discussions and corrections.
            </p>
          </li>
          <li class="benefits-part">
            <div class="benefits-icon">
              <svg class="benefits-svg">
                <use href="../img/icons.svg#icon-brush"></use>
              </svg>
            </div>
            <h3 class="benefits-subtitle">Art</h3>
            <p class="benefits-description">
              Thanks to my creative nature, I am ready to accept challenges and
              help you bring your ideas to life.
            </p>
          </li>
          <li class="benefits-part">
            <div class="benefits-icon">
              <svg class="benefits-svg">
                <use href="../img/icons.svg#icon-hourglass"></use>
              </svg>
            </div>
            <h3 class="benefits-subtitle">Urgent execution</h3>
            <p class="benefits-description">
              I understand how important time is to you. Ready to work quickly
              and efficiently, without reducing the quality of work.
            </p>
          </li>
        </ul>
        <a href="#" class="benefits-button">Order the project</a>
      </div>
    </div>
  </div>
</section>
