<section class="covers">
<h2 class="visually-hidden">Covers</h2>

<div class="content">
    <div class="marquee">
      <div class="marquee__inner">
        <img src="./img/covers/chego.webp" class="image-1"/>
        <img src="./img/covers/english-excellence.webp" class="image-1"/>  
        <img src="./img/covers/chego.webp" class="image-1"/>
        <img src="./img/covers/energy-flow.webp" class="image-1"/>
        <img src="./img/covers/green-harvest.webp" class="image-1"/>
        <img src="./img/covers/starlight-studio.webp" class="image-1"/>    
      </div>
      <div class="marquee__inner">
        <img src="./img/covers/green-harvest.webp" class="image-1"/>
        <img src="./img/covers/power-pulse.webp" class="image-1"/>
        <img src="./img/covers/mimino.webp" class="image-1"/>
        <img src="./img/covers/starlight-studio.webp" class="image-1"/>
        <img src="./img/covers/reviving.webp" class="image-1"/>
        <img src="./img/covers/wallet.webp" class="image-1"/>
        
      </div>
      <div class="marquee__inner">       
        <img src="./img/covers/fruitbox.webp" class="image-1"/>
        <img src="./img/covers/energy-flow.webp" class="image-1"/>
        <img src="./img/covers/green-harvest.webp" class="image-1"/>
        <img src="./img/covers/power-pulse.webp" class="image-1"/>
        <img src="./img/covers/chego.webp" class="image-1"/>
        <img src="./img/covers/english-excellence.webp" class="image-1"/>
            
      </div>
      <div class="marquee__inner">
       
        <img src="./img/covers/reviving.webp" class="image-1"/>
        <img src="./img/covers/starlight-studio.webp" class="image-1"/>
        <img src="./img/covers/english-excellence.webp" class="image-1"/>     
        <img src="./img/covers/energy-flow.webp" class="image-1"/>
        <img src="./img/covers/power-pulse.webp" class="image-1"/>
        <img src="./img/covers/mimino.webp" class="image-1"/>
       >
      </div>
      <div class="marquee__inner">
       
        <img src="./img/covers/green-harvest.webp" class="image-1"/>
        <img src="./img/covers/mimino.webp" class="image-1"/>
        <img src="./img/covers/wallet.webp" class="image-1"/>    
        <img src="./img/covers/chego.webp" class="image-1"/>
        <img src="./img/covers/energy-flow.webp" class="image-1"/>
        <img src="./img/covers/english-excellence.webp" class="image-1"/>
      </div>
    </div>
  </div>
  
</section>