<section class="covers">
<h2 class="visually-hidden">Covers</h2>
<div class="covers-container">
    <ul class="covers-list">
        <li class="cover-image"><img scr="../img/covers/energy-flow.jpg" class="image-1">
        </li>
        <li class="cover-image"></li>
        <li class="cover-image"></li>
        <li class="cover-image"></li>
        <li class="cover-image"></li>
        <li class="cover-image"></li>
        <li class="cover-image"></li>
        <li class="cover-image"></li>
        <li class="cover-image"></li>
    </ul>
</div>
</section>