<section class="covers">
<h2 class="visually-hidden">Covers</h2>

<div class="content">
    <div class="marquee">
      <div class="marquee__inner">
        <img src="./img/covers/chego.webp" alt="chego-img"  class="image-1"/>
        <img src="./img/covers/english-excellence.webp" alt="english-img" class="image-1"/>  
        <img src="./img/covers/chego.webp" alt="chego-img" class="image-1"/>
        <img src="./img/covers/energy-flow.webp" alt="energy-img" class="image-1"/>
        <img src="./img/covers/green-harvest.webp" alt="green-img" class="image-1"/>
        <img src="./img/covers/starlight-studio.webp" alt="studio-img" class="image-1"/>    
      </div>
      <div class="marquee__inner">
        <img src="./img/covers/green-harvest.webp" alt="green-img" class="image-1"/>
        <img src="./img/covers/power-pulse.webp" alt="power-img" class="image-1"/>
        <img src="./img/covers/mimino.webp" alt="power-img" class="image-1"/>
        <img src="./img/covers/starlight-studio.webp" alt="studio-img" class="image-1"/>
        <img src="./img/covers/reviving.webp" alt="reviving-img" class="image-1"/>
        <img src="./img/covers/wallet.webp" alt="wallet-img" class="image-1"/>
        
      </div>
      <div class="marquee__inner">       
        <img src="./img/covers/fruitbox.webp" alt="fruitbox-img" class="image-1"/>
        <img src="./img/covers/energy-flow.webp" alt="energy-img" class="image-1"/>
        <img src="./img/covers/green-harvest.webp" alt="green-img"  class="image-1"/>
        <img src="./img/covers/power-pulse.webp" alt="power-img" class="image-1"/>
        <img src="./img/covers/chego.webp" alt="chego-img" class="image-1"/>
        <img src="./img/covers/english-excellence.webp" alt="english-img" class="image-1"/>
            
      </div>
      <div class="marquee__inner">
       
        <img src="./img/covers/reviving.webp" alt="reviving-img" class="image-1"/>
        <img src="./img/covers/starlight-studio.webp" alt="starlight-img" class="image-1"/>
        <img src="./img/covers/english-excellence.webp" alt="english-img" class="image-1"/>     
        <img src="./img/covers/energy-flow.webp" alt="energy-img" class="image-1"/>
        <img src="./img/covers/power-pulse.webp" alt="power-img" class="image-1"/>
        <img src="./img/covers/mimino.webp" alt="mimino-img" class="image-1"/>
       >
      </div>
      <div class="marquee__inner">
       
        <img src="./img/covers/green-harvest.webp" alt="green-img" class="image-1"/>
        <img src="./img/covers/mimino.webp" alt="mimino-img" class="image-1"/>
        <img src="./img/covers/wallet.webp" alt="wallet-img" class="image-1"/>    
        <img src="./img/covers/chego.webp" alt="chego-img" class="image-1"/>
        <img src="./img/covers/energy-flow.webp" alt="energy-img" class="image-1"/>
        <img src="./img/covers/english-excellence.webp" alt="english-img" class="image-1"/>
      </div>
    </div>
  </div>
  
</section>