<section class="faq" id="faq">
  <div class="container">
    <h5 class="faq-title">FAQ</h5>
    <ul class="faq-list">
      <li class="faq-element">
        <button class="accordion-button " type="button">
          <svg
            class="accordion-button-icon"
            width="20"
            height="20"
            aria-label="accordion button icon"
          >
            <use href="./img/icons.svg#icon-more"></use>
          </svg>
        </button>
        <button class="accordion-button " type="button">
          <svg
            class="accordion-button-icon"
            width="20"
            height="20"
            aria-label="accordion button icon"
          >
            <use href="./img/icons.svg#icon-less"></use>
          </svg>
        </button>
        <h5 class="faq-list-title">
          What programming languages ​are most often used in your project?
        </h5>
        <div class="accordion-content">
          <p class="faq-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-element">
        <button class="accordion-button visually-hidden" type="button">
          <svg
            class="accordion-button-icon"
            width="20"
            height="20"
            aria-label="accordion button icon"
          >
            <use href="./img/icons.svg#icon-more"></use>
          </svg>
        </button>
        <button class="accordion-button " type="button">
          <svg
            class="accordion-button-icon"
            width="20"
            height="20"
            aria-label="accordion button icon"
          >
            <use href="./img/icons.svg#icon-less"></use>
          </svg>
        </button>
        <h5 class="faq-list-title">What are the deadlines for the project?</h5>
        <div class="accordion-content">
          <p class="faq-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-element">
        <button class="accordion-button visually-hidden" type="button">
          <svg
            class="accordion-button-icon"
            width="20"
            height="20"
            aria-label="accordion button icon"
          >
            <use href="./img/icons.svg#icon-more"></use>
          </svg>
        </button>
        <button class="accordion-button" type="button">
          <svg
            class="accordion-button-icon"
            width="20"
            height="20"
            aria-label="accordion button icon"
          >
            <use href="./img/icons.svg#icon-less"></use>
          </svg>
        </button>
        <h5 class="faq-list-title">What payment methods do you accept?</h5>
        <div class="accordion-content">
          <p class="faq-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="faq-element">
        <button class="accordion-button visually-hidden" type="button">
          <svg
            class="accordion-button-icon"
            width="20"
            height="20"
            aria-label="accordion button icon"
          >
            <use href="./img/icons.svg#icon-more"></use>
          </svg>
        </button>
        <button class="accordion-button " type="button">
          <svg
            class="accordion-button-icon"
            width="20"
            height="20"
            aria-label="accordion button icon"
          >
            <use href="./img/icons.svg#icon-less"></use>
          </svg>
        </button>
        <h5 class="faq-list-title">How can I contact you?</h5>
        <div class="accordion-content">
          <p class="faq-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-element">
        <button class="accordion-button visually-hidden" type="button">
          <svg
            class="accordion-button-icon"
            width="20"
            height="20"
            aria-label="accordion button icon"
          >
            <use href="./img/icons.svg#icon-more"></use>
          </svg>
        </button>
        <button class="accordion-button " type="button">
          <svg
            class="accordion-button-icon"
            width="20"
            height="20"
            aria-label="accordion button icon"
          >
            <use href="./img/icons.svg#icon-less"></use>
          </svg>
        </button>
        <h5 class="faq-list-title">Do you provide advice or support?</h5>
        <div class="accordion-content">
          <p class="faq-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-element">
        <button class="accordion-button visually-hidden" type="button">
          <svg
            class="accordion-button-icon"
            width="20"
            height="20"
            aria-label="accordion button icon"
          >
            <use href="./img/icons.svg#icon-more"></use>
          </svg>
        </button>
        <button class="accordion-button " type="button">
          <svg
            class="accordion-button-icon"
            width="20"
            height="20"
            aria-label="accordion button icon"
          >
            <use href="./img/icons.svg#icon-less"></use>
          </svg>
        </button>
        <h5 class="faq-list-title">
          What does the process of developing a software product look like from
          idea to implementation?
        </h5>
        <div class="accordion-content">
          <p class="faq-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
