<section class="container section-indent" id="faq">
  <div class="faq-container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list accordion-container-faq">
      <li class="faq-element ac">
        <div class="faq-element-title-wrap ac-trigger .ac-trigger-faq">
          <h3 class="faq-list-title ac-header ac-header">
            What programming languages ?are most often used in your project?
          </h3>
          <button
            id="accordion-button-less "
            aria-label="faq less"
            class="accordion-button"
            type="button"
          >
            <svg
              class="accordion-button-icon"
              width="20"
              height="20"
              aria-label="accordion button icon"
            >
              <use href="./img/icons.svg#icon-less"></use>
            </svg>
          </button>
        </div>
        <div class="accordion-content ac-panel">
          <p class="faq-text ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-element ac">
        <div class="faq-element-title-wrap ac-trigger .ac-trigger-faq">
          <h3 class="faq-list-title ac-header">
            What are the deadlines for the project?
          </h3>
          <button class="accordion-button" type="button">
            <svg
              class="accordion-button-icon"
              width="20"
              height="20"
              aria-label="accordion button icon"
            >
              <use href="./img/icons.svg#icon-less"></use>
            </svg>
          </button>
        </div>
        <div class="accordion-content ac-panel">
          <p class="faq-text ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-element ac">
        <div class="faq-element-title-wrap ac-trigger .ac-trigger-faq">
          <h3 class="faq-list-title ac-header">
            What payment methods do you accept?
          </h3>
          <button class="accordion-button" type="button">
            <svg
              class="accordion-button-icon"
              width="20"
              height="20"
              aria-label="accordion button icon"
            >
              <use href="./img/icons.svg#icon-less"></use>
            </svg>
          </button>
        </div>
        <div class="accordion-content ac-panel">
          <p class="faq-text ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="faq-element ac">
        <div class="faq-element-title-wrap ac-trigger .ac-trigger-faq">
          <h3 class="faq-list-title ac-header">How can I contact you?</h3>
          <button class="accordion-button" type="button">
            <svg
              class="accordion-button-icon"
              width="20"
              height="20"
              aria-label="accordion button icon"
            >
              <use href="./img/icons.svg#icon-less"></use>
            </svg>
          </button>
        </div>
        <div class="accordion-content ac-panel">
          <p class="faq-text ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-element ac">
        <div class="faq-element-title-wrap ac-trigger .ac-trigger-faq">
          <h3 class="faq-list-title ac-header">
            Do you provide advice or support?
          </h3>
          <button class="accordion-button" type="button">
            <svg
              class="accordion-button-icon"
              width="20"
              height="20"
              aria-label="accordion button icon"
            >
              <use href="./img/icons.svg#icon-less"></use>
            </svg>
          </button>
        </div>
        <div class="accordion-content ac-panel">
          <p class="faq-text ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-element ac">
        <div class="faq-element-title-wrap ac-trigger .ac-trigger-faq">
          <h3 class="faq-list-title ac-header">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <button class="accordion-button" type="button">
            <svg
              class="accordion-button-icon"
              width="20"
              height="20"
              aria-label="accordion button icon"
            >
              <use href="./img/icons.svg#icon-less"></use>
            </svg>
          </button>
        </div>
        <div class="accordion-content ac-panel">
          <p class="faq-text ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
