<section class="hero">
  <div class="container add-container">
    <div class="hero-title-dv">
      <h1 class="title-hero">
        Hello.<br />
        I’m Fullstack developer <br />Lloyd Jefferson.
      </h1>
    </div>
    <div class="hero-link-dv">
      <ul class="hero-list">
        <li>
          <a
            class="hero-link"
            target="_blank"
            href="https://www.instagram.com/goitclub/"
            >IG</a
          >
        </li>
        <li>
          <a
            class="hero-link"
            target="_blank"
            href="https://www.facebook.com/goITclub/"
            >FB</a
          >
        </li>
        <li>
          <a
            class="hero-link"
            target="_blank"
            href="https://www.youtube.com/c/GoIT"
            >YT</a
          >
        </li>
        <li>
          <a
            class="hero-link"
            target="_blank"
            href="https://github.com/OleksandraStepanova/JSFusionForce"
            >GH</a
          >
        </li>
        <li>
          <a
            class="hero-link hero-link-email"
            href="mailto:lloydjefersson@gmail.com"
            >lloydjefersson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
