<div class="mobile-menu">
  <svg class="mobile-menu-svg">
    <use href="./img/icons.svg#icon-close"></use>
  </svg>
  <ul class="mobile-menu-list">
    <li class="mobile-menu-part">
      <a href="#" class="mobile-menu-link">About me</a>
    </li>
    <li class="mobile-menu-part">
      <a href="#" class="mobile-menu-link">Benefits</a>
    </li>
    <li class="mobile-menu-part">
      <a href="#" class="mobile-menu-link">Projects</a>
    </li>
    <li class="mobile-menu-part">
      <a href="#" class="mobile-menu-link">FAQ</a>
    </li>
  </ul>
</div>
<script type="module" src="../js/mobile-menu.js"></script>
