<div class="modal-window-mb i-open">
 
    
    <button id="close-menu-mb"  aria-label="close mobile menu" class="modal-menu-close-btn" type="button">
      <svg class="modal-menu-close-btn-icon" width="28" height="28" aria-label="modal-menu-close-icon">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

  <nav class="modal-menu-navigation">
    <ul class="modal-menu-list">
      <li class="modal-menu-item">
        <a class="modal-menu-link" href="#about-me">About me</a>
      </li>
      <li class="modal-menu-item">
        <a class="modal-menu-link" href="#benefits">Benefits</a>
      </li>
      <li class="modal-menu-item">
        <a class="modal-menu-link" href="#projects">Projects</a>
      </li>
      <li class="modal-menu-item">
        <a class="modal-menu-link" href="#faq">FAQ</a>
      </li>
      <li class="modal-menu-item">
          <span class="order-mb">
            <a href="#work-together" class="order-button-mb">Order the project</a>
          </span>
      </li>
    </ul>
  </nav>  
   
  </div>