<section class="projects" id="projects">
  <div class="container">
    <ul class="projects-list">
      <li class="projects-list-item">
        <div class="list-item-info">
          <ul class="projects-technologies-list">
            <li class="projects-technologies-item">#react</li>
            <li class="projects-technologies-item">#js</li>
            <li class="projects-technologies-item">#node.js</li>
            <li class="projects-technologies-item">#git</li>
          </ul>
          <h2 class="projects-list-title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h2>
          <span class="link-wrap">
            <a
              class="project-link"
              href="https://maxsimjsdeveloper.github.io/WEBSTUDIO/"
              target="_blank"
              >See project</a
            >
          </span>
        </div>
        <div class="projects-img-wrap">
          <picture class="projects-img">
            <source
              srcset="
                ../img/desktop/projects-read-desktop.webp    1x,
                ../img/desktop/projects-read-desktop@2x.webp 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/tablet/projects-read-tablet.webp    1x,
                ../img/tablet/projects-read-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/mobile/projects-read.webp    1x,
                ../img/mobile/projects-read@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/mobile/projects-read.webp"
              alt="project-read-img"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="projects-list-item">
        <div class="list-item-info">
          <ul class="projects-technologies-list">
            <li class="projects-technologies-item">#react</li>
            <li class="projects-technologies-item">#js</li>
            <li class="projects-technologies-item">#node.js</li>
            <li class="projects-technologies-item">#git</li>
          </ul>
          <h2 class="projects-list-title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h2>
          <span class="link-wrap">
            <a
              class="project-link"
              href="https://maxsimjsdeveloper.github.io/WEBSTUDIO/"
              target="_blank"
              >See project</a
            >
          </span>
        </div>
        <div class="projects-img-wrap">
          <picture class="projects-img">
            <source
              srcset="
                ../img/desktop/projects-petlove-desktop.webp    1x,
                ../img/desktop/projects-petlove-desktop@2x.webp 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/tablet/projects-petlove-tablet.webp    1x,
                ../img/tablet/projects-petlove-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/mobile/projects-petlove.webp    1x,
                ../img/mobile/projects-petlove@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/mobile/projects-petlove.webp"
              alt="project-petlove-img"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
      <li class="projects-list-item">
        <div class="list-item-info">
          <ul class="projects-technologies-list">
            <li class="projects-technologies-item">#react</li>
            <li class="projects-technologies-item">#js</li>
            <li class="projects-technologies-item">#node.js</li>
            <li class="projects-technologies-item">#git</li>
          </ul>
          <h2 class="projects-list-title">
            Programming Across Borders: Ideas, Technologies, Innovations
          </h2>
          <span class="link-wrap">
            <a
              class="project-link"
              href="https://maxsimjsdeveloper.github.io/WEBSTUDIO/"
              target="_blank"
              >See project</a
            ></span
          >
        </div>
        <div class="projects-img-wrap">
          <picture class="projects-img">
            <source
              srcset="
                ../img/desktop/projects-vocabbuilder-desktop.webp    1x,
                ../img/desktop/projects-vocabbuilder-desktop@2x.webp 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/tablet/projects-vocabbuilder-tablet.webp 1x,
                ../img/tablet/projects-vocabbuilder@2x.webp     2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../img/mobile/projects-vocabbuilder.webp    1x,
                ../img/mobile/projects-vocabbuilder@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../img/mobile/projects-vocabbuilder.webp"
              alt="project-vocabbuilder-img"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
    <div class="nav-btn">
      <span class="btn">L</span>
      <span class="btn">R</span>
    </div>
  </div>
</section>
