<section class="projects section-indent" id="projects">
  <div class="swiper-conteiner">
    <h2 class="visually-hidden">Projects</h2>
    <div class="container">
      <div class="swiper-projects swiper">
        <ul class="projects-list swiper-wrapper">
          <li class="projects-list-item swiper-slide">
            <div class="list-item-info">
              <ul class="projects-technologies-list">
                <li class="projects-technologies-item">#react</li>
                <li class="projects-technologies-item">#js</li>
                <li class="projects-technologies-item">#node.js</li>
                <li class="projects-technologies-item">#git</li>
              </ul>
              <h2 class="projects-list-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h2>
              <span class="link-wrap">
                <a
                  class="project-link"
                  href="https://maxsimjsdeveloper.github.io/Yachtjet/"
                  target="_blank"
                  >See project</a
                >
              </span>
            </div>
            <div class="projects-img-wrap">
              <picture class="projects-img">
                <source
                  srcset="
                    ./img/desktop/projects-read-desktop.webp    1x,
                    ./img/desktop/projects-read-desktop@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/tablet/projects-read-tablet.webp    1x,
                    ./img/tablet/projects-read-tablet@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/mobile/projects-read.webp    1x,
                    ./img/mobile/projects-read@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/mobile/projects-read.webp"
                  alt="project-read-img"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>
          <li class="projects-list-item swiper-slide">
            <div class="list-item-info">
              <ul class="projects-technologies-list">
                <li class="projects-technologies-item">#react</li>
                <li class="projects-technologies-item">#js</li>
                <li class="projects-technologies-item">#node.js</li>
                <li class="projects-technologies-item">#git</li>
              </ul>
              <h2 class="projects-list-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h2>
              <span class="link-wrap">
                <a
                  class="project-link"
                  href="https://maxsimjsdeveloper.github.io/Gallery/"
                  target="_blank"
                  >See project</a
                >
              </span>
            </div>
            <div class="projects-img-wrap">
              <picture class="projects-img">
                <source
                  srcset="
                    ./img/desktop/projects-petlove-desktop.webp    1x,
                    ./img/desktop/projects-petlove-desktop@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/tablet/projects-petlove-tablet.webp    1x,
                    ./img/tablet/projects-petlove-tablet@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/mobile/projects-petlove.webp    1x,
                    ./img/mobile/projects-petlove@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/mobile/projects-petlove.webp"
                  alt="project-petlove-img"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>
          <li class="projects-list-item swiper-slide">
            <div class="list-item-info">
              <ul class="projects-technologies-list">
                <li class="projects-technologies-item">#react</li>
                <li class="projects-technologies-item">#js</li>
                <li class="projects-technologies-item">#node.js</li>
                <li class="projects-technologies-item">#git</li>
              </ul>
              <h2 class="projects-list-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h2>
              <span class="link-wrap">
                <a
                  class="project-link"
                  href="https://maxsimjsdeveloper.github.io/WEBSTUDIO/"
                  target="_blank"
                  >See project</a
                ></span
              >
            </div>
            <div class="projects-img-wrap">
              <picture class="projects-img">
                <source
                  srcset="
                    ./img/desktop/projects-vocabbuilder-desktop.webp    1x,
                    ./img/desktop/projects-vocabbuilder-desktop@2x.webp 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/tablet/projects-vocabbuilder-tablet.webp 1x,
                    ./img/tablet/projects-vocabbuilder@2x.webp     2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/mobile/projects-vocabbuilder.webp    1x,
                    ./img/mobile/projects-vocabbuilder@2x.webp 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/mobile/projects-vocabbuilder.webp"
                  alt="project-vocabbuilder-img"
                  loading="lazy"
                />
              </picture>
            </div>
          </li>
        </ul>
        <div class="nav-btn">
          <button type="button" disabled="" class="btn no-active btn-prev">
            <svg
              class="content-icon left"
              width="24"
              height="24"
              aria-label="icon-arrow"
            >
              <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
          </button>

          <button type="button" class="btn btn-next">
            <svg
              class="content-icon"
              width="24"
              height="24"
              aria-label="icon-arrow"
            >
              <use href="./img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
