<section class="reviews">
  <div class="container">
    <h2 class="title-section">Reviews</h2>
    <ul class="reviews-list" id="results-reviews">
      <li class="reviews-list-item">
        <a class="reviews-image" href="https://picsum.photos/200/300">
          <img src="https://picsum.photos/200/300" alt="" class="photo-img" />
        </a>
        <h3 class="reviews-title-name">Name</h3>
        <p class="reviews-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
          distinctio sunt ipsa sequi libero atque magnam, est labore ipsam
          quaerat dicta, corporis veniam minima id. Facere harum dolore quaerat
          obcaecati.
        </p>
      </li>
    </ul>
    <div class="reviews-btn swiper">
      <span class="btn is-enabled">
        <svg
          class="arrow-reviews-icon left no-active"
          width="24"
          height="24"
          aria-label="arrow icon"
        >
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
      </span>
      <span class="btn">
        <svg
          class="arrow-reviews-icon"
          width="24"
          height="24"
          aria-label="arrow icon"
        >
          <use href="./img/icons.svg#icon-arrow"></use></svg
      ></span>
    </div>
  </div>
</section>
