<section class="reviews">
  <div class="container">
    <div class="container-reviews">
      <h2 class="title-section">Reviews</h2>
      <div class="swiper-container">
        <div class="container">
          <div class="swiper swiper-reviews">
            <ul class="reviews-list swiper-wrapper" id="results-reviews"></ul>
            <div class="reviews-btn">
              <button type="button" class="btn swiper-button-prev">
                <svg
                  class="arrow-reviews-icon left"
                  width="24"
                  height="24"
                  aria-label="arrow icon"
                >
                  <use href="./img/icons.svg#icon-arrow"></use>
                </svg>
              </button>

              <button type="button" class="btn swiper-button-next">
                <svg
                  class="arrow-reviews-icon"
                  width="24"
                  height="24"
                  aria-label="arrow icon"
                >
                  <use href="./img/icons.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
