.about-me-container {
  align-items: center;
}
.about-me-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}
.about-me-wrap-text {
  border-radius: 24px;
  max-width: 343px;
  height: 500px;
  background: #242527;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
}
.about-me-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  max-width: 279px;
}
.accent-functional {
  color: #ed3b44;
}
.accent-websites {
  color: rgba(250, 250, 250, 0.4);
}
.about-me-list {
  margin-bottom: 32px;
}
.about-me-item {
  margin-bottom: 20px;
}
.about-me-wrap-title-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.about-me-item-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}
.about-me-wrap-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.about-me-icon {
  fill: transparent;
  stroke: #fafafa;
}
.about-me-icon-open {
  transform: rotate(180deg);
}
.about-me-item-wrap-text {
  max-width: 343px;
}
.about-me-item-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 32px;
}
.about-me-item::after {
  content: '';
  display: block;
  max-width: 343px;
  height: 1px;
  background-color: rgba(250, 250, 250, 0.2);
  margin-top: 32px;
}
.skills-list {
  display: flex;
  max-width: 260px;
}
.skills-item-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  max-width: 130px;
  min-height: 130px;
  padding-top: 62px;
  padding-bottom: 62px;
}
.skills-wrapper {
  display: flex;
}
.about-me-container-container {
  max-width: 260px;
}

/* .skills-item-wrap-activ {
  background-color: #ed3b44;
} */
.skills-item {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  text-align: center;
}
.about-me-icon-skills-wrap {
  display: inline;
  background-color: transparent;
  border: none;
}
.about-me-icon-skills {
  fill: transparent;
  stroke: #3b3b3b;
}
@media (min-width: 768px) {
  .about-me-wrap-text {
    max-width: 704px;
    height: 700px;
    padding-top: 64px;
    padding-left: 64px;
    padding-right: 64px;
  }
  .about-me-text {
    font-size: 38px;
    max-width: 576px;
  }
  .about-me-wrap {
    margin-bottom: 64px;
  }
  .about-me-list {
    margin-bottom: 64px;
  }
  .about-me-item {
    margin-bottom: 32px;
  }
  .about-me-wrap-icon {
    width: 40px;
    height: 40px;
  }
  .about-me-item-wrap-text {
    max-width: 704px;
  }
  .about-me-item-text {
    margin-bottom: 16px;
  }
  .about-me-item::after {
    max-width: 704px;
  }
  .skills-item-wrap {
    max-width: 200px;
    min-height: 200px;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .skills-item {
    font-size: 20px;
  }
  .skills-list {
    max-width: 600px;
  }
  .about-me-container-container {
    max-width: 600px;
  }
}

@media (min-width: 1440px) {
  .skills-item-wrap {
    max-width: 200px;
  }
  .about-me-container {
    align-items: start;
  }
  .about-me-wrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 96px;
  }
  .about-me-wrap-text {
    max-width: 680px;
  }
  .about-me-text {
    max-width: 552px;
  }
  .about-me-list {
    margin-bottom: 96px;
  }

  .about-me-item-wrap-text {
    max-width: 612px;
    margin-left: 696px;
  }
  .about-me-item::after {
    max-width: 1376px;
  }
  .skills-list {
    max-width: 1200px;
  }
  .about-me-container-container {
    max-width: 1200px;
  }
}
