.benefits-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.benefits-title {
  color: rgba(250, 250, 250, 0.4);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.benefits-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.benefits-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background: #242527;
  padding: 24px;
}
.benefits-icon {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #ed3b44;
  margin-bottom: 64px;
}
.benefits-svg {
  width: 24px;
  height: 24px;
  stroke: #fafafa;
  fill: #ed3b44;
}
.benefits-subtitle {
  color: #fafafa;

  font-family: 'Inter Tight';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.4px;
  margin-bottom: 8px;
}
.benefits-description {
  color: rgba(250, 250, 250, 0.6);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.32px;
}
.benefits-button {
  color: #fafafa;

  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;

  display: block;
  padding: 18px 36px;
  min-width: 187px;
  height: 55px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  margin-bottom: 64px;
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.benefits-button:hover {
  background-color: #ed3b44;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 64px;
  }
  .benefits-part {
    width: calc((100% - 16px) / 2);
  }
  .benefits-button {
    margin-bottom: 96px;
  }
}

@media screen and (min-width: 1440px) {
  .benefits-cont {
    flex-direction: row;
    gap: 412px;
  }
  .benefits-list {
    justify-content: flex-start;
    width: 680px;
  }
  .benefits-part {
    width: 332px;
  }
}
