/* .visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
        outline: 0;
outline-offset: 0;
pointer-events: none;
} */
.covers{
    width: 1440px;
    height: 960px;
    background: url(../img/covers/ellipse@2x.png);  
    position: relative;
    overflow: hidden;
}
.content {
    padding: 20px;
  }
  
  .marquee {
    padding: 20px;
    position: absolute;
    right: -880px;
    left: 0x;
    overflow: hidden;
  }
  
  .marquee__inner {
    display: flex;
    column-gap: 40px;
    row-gap: 40px;
    transform: rotate(16deg);
  }
  
  .marquee__inner img {
    flex-shrink: 0;
    margin-right: 10px;
    margin-top: 40px;
    width: calc(100% / 5);
    white-space: nowrap;
    animation-name: marqueeImage; 
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes marqueeImage {
    from {
      transform: translateX(-20%);
    }
    to {
      transform: translateX(-180%);
    }
  }
