.covers {

  min-width: 375px;




  width: 100%;
  height: 960px;
  background: url(../img/covers/elements_vectors.webp);

  position: relative;
  overflow: hidden;
}
.content {
  padding: 20px;
}

.marquee {
  padding: 20px;
  position: absolute;
  right: -880px;
  left: 0;
  overflow: hidden;
}

.marquee__inner {
  display: flex;
  column-gap: 40px;
  row-gap: 40px;
  transform: rotate(16deg);
}

.marquee__inner img {
  flex-shrink: 0;
  margin-right: 10px;
  margin-top: 40px;
  width: calc(100% / 5);
  white-space: nowrap;
  animation-name: marqueeImage;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeImage {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(-180%);
  }
}
.running {
  animation-play-state: running;
}
