.faq-container {
  align-items: start;
}
.faq-title {
  color: rgba(250, 250, 250, 0.4);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding-bottom: 20px;
}

.faq-element {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-element-title-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.faq-list-title {
  color: rgb(250, 250, 250);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  max-width: 289px;
}
.accordion-button {
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion-button-icon {
  fill: transparent;
  stroke: #fafafa;
}
.accordion-button-icon-open {
  transform: rotate(180deg);
}
.faq-text {
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  width: 343px;
}

@media (min-width: 768px) {
  .faq-element-title-wrap {
    margin-bottom: 32px;
  }

  .faq-list-title {
    max-width: 485px;
  }
  .faq-text {
    width: 656px;
  }
}

@media (min-width: 1440px) {
  .faq-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .faq-list li:nth-last-child(2n-1) {
    border-left: 1px solid rgba(250, 250, 250, 0.2);
    padding-left: 32px;
  }
  .faq-list li:nth-last-child(2n) {
    padding-right: 32px;
  }
  .accordion-button {
    right: 32px;
  }
  .faq-element {
    padding-bottom: 32px;
    padding-top: 32px;
  }
}
