header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color:transparent;
  z-index: 1000;
}

.container {
  display: flex;
  align-items: center; 
}
.nav-header {
  display: inline-flex;
justify-content: center;
}
.logo-header-img {
  display: flex;
  align-items: center; 
}

.menu-toggle {
  display: flex;
  align-items: center; 
}
.menu-nav {
  display: none;
}
.order-button {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.order-button:hover {
  background-color: #000;
  color: #fff;
}