header {
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  z-index: 1000
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-header-img {
  width: 80px;
  height: 80px;
}
.logo-svg {
  margin: 0px 8px;
}

.nav-header {
  display: flex;
  align-items: center;
}
.menu-toggle {
  display: flex;
  text-align: center;
}
.menu-nav {
  display: none;
}
.order-button {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.order-button:hover {
  background-color: #000;
  color: #fff;
}
