header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 1000;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.logo-nav-container {
  display: flex;
  align-items: center;
}
.logo-header-img {
  width: 172px;
  height: 80px;
}
.logo-img {
  width: 80px;
  height: 80px;
}
.logo-dv {
  position: absolute;
}
.logo-svg-header {
  position: relative;
  flex-basis: content;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 8px;
}
.nav-header {
  display: flex;
  align-items: baseline;
}
.menu-toggle {
  display: none;
  transition: opacity 0.3s ease-in-out;
  align-items: center;
}
.order {
  display: none;
}
.menu-nav {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 8px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.show-menu {
  opacity: 1;
}
.menu-btn {
  border-color: transparent;
  position: static;
  width: 60px;
  height: 39px;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: rgb(250, 250, 250);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
}
.mobile-button-menu {
  stroke: rgba(250, 250, 250);
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 767px) {
  .logo-header-img {
    margin-right: 143px;
  }
  .header-container {
    min-width: 343px;
  }
}
@media screen and (min-width: 768px) {
  .logo-header-img {
    margin-right: 151px;
  }
  .menu-toggle {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-right: 151px;
  }
  .header-container {
    min-width: 704px;
  }
  .mobile-button-menu {
    display: none;
  }
  .order {
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 55px;
    display: flex;
    border-radius: 60px;
    background: rgb(237, 59, 68);
    margin-bottom: 25px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .order-button {
    color: rgb(250, 250, 250);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.02em;
    text-align: center;
  }
  .order:active,
  .order:hover {
    box-sizing: border-box;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .logo-header-img {
    margin-right: 487px;
  }
  .menu-toggle {
    margin-right: 487px;
  }
  .header-container {
    max-width: 1440px;
  }
  .menu-toggle {
    display: flex;
    text-align: center;
  }
  .order {
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 55px;
    display: flex;
    border-radius: 60px;
    background: rgb(237, 59, 68);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .order-button {
    color: rgb(250, 250, 250);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0, 02em;
    text-align: left;
  }
  .order:active,
  .order:hover {
    box-sizing: border-box;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 60px;
  }
}
