@media screen and (max-width: 767px) {
  .modal-window-mb {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    min-height: 100%;
    background-image: url('../img/background/menu.png');
    background-size: cover;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding: 302px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .modal-menu-close-btn {
    position: absolute;
    right: 20px;
    top: 32px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke: #fafafa;
    fill: transparent;
  }

  /*--nav*/
  .modal-menu-navigation {
    display: flex;
  }

  .modal-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 67px;
    height: 112px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
  }

  .modal-menu-link {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
  }
}

@media screen and (min-width: 768px) {
  .modal-window-mb {
    display: none;
  }
}

.order-mb {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 60px;
  padding: 14px 31px;
  width: 164px;
  height: 45px;
  background: #ed3b44;
  min-width: 164px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-left: auto;
  margin-right: auto;
}

.modal-menu-navigation li:last-child {
  margin-top: 290px;
}
