/* .projects-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
} */

.projects-list-item {
  max-width: 343px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.list-item-info {
  padding: 32px;
  background-color: #fafafa;
  border-radius: 24px 24px 0 0;
}

.projects-technologies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 96px;
}

.projects-technologies-item {
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #1c1d20;
}

.projects-list-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: #1c1d20;
  margin-bottom: 32px;
}

.link-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  background-color: #ed3b44;
  width: 141px;
  height: 45px;
  margin-bottom: 32px;
}

.project-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.projects-img-wrap {
  background-color: #242527;
  border-radius: 0 0 24px 24px;
  display: flex;
  justify-content: center;
}

.projects-img {
  padding: 100px 16px;
}

.nav-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.btn {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .projects-list-item {
    max-width: 704px;
    margin-bottom: 64px;
  }

  .list-item-info {
    padding: 64px;
  }

  .projects-technologies-list {
    margin-bottom: 164px;
  }

  .projects-list-title {
    font-size: 44px;
    line-height: 100%;
  }

  .link-wrap {
    width: 177px;
    height: 55px;
    margin-bottom: 64px;
  }

  .projects-img {
    padding: 120px, 45px;
  }

  .nav-btn {
    gap: 20px;
  }

  .btn {
    padding: 14px;
    width: 52px;
    height: 52px;
    padding: 18px;
    width: 68px;
    height: 68px;
  }
}

@media (min-width: 1440px) {
  .projects-list-item {
    flex-direction: row;
    max-width: 1376px;
  }

  .list-item-info {
    border-radius: 24px 0 0 24px;
  }

  .projects-technologies-list {
    margin-bottom: 223px;
  }

  .link-wrap {
    margin-bottom: 0;
  }

  .projects-img {
    padding: 120px, 37px;
  }

  .projects-img-wrap {
    border-radius: 0 24px 24px 0;
    min-width: 688px;
  }
}
