.reviews-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}
/* .reviews-btn .is-enabled {
  border-color: rgba(250, 250, 250, 0.2);
} */

.btn {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .btn .no-active {
  stroke: #3b3b3b;
} */
/* .no-active {
  pointer-events: none;
  opacity: 0.5;
} */

.arrow-reviews-icon {
  fill: transparent;
  stroke: #fafafa;
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 32px 0px;
  margin-right: auto;

  color: rgba(250, 250, 250, 0.4);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
}
.reviews-list {
  display: flex;
  flex-direction: row;
  max-width: 343px;
}
.reviews-list-item {
  max-width: 343px;
  min-height: 302px;
  max-height: 302px;
  overflow-y: auto;
  overflow-x: hidden;

  padding: 32px 24px;
  margin: 0px 0px 32px 0px;
  box-sizing: border-box;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
}
.photo-img {
  width: 48px;
  height: 48px;
  margin: 0px 0px 32px 0px;
  border-radius: 10px;
}

/* .reviews-title-name {
  width: 295px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  margin: 0px 0px 8px 0px;
  color: rgb(250, 250, 250);
  font-family: Inter Tight;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
} */

.reviews-text {
  width: 295px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  color: rgba(250, 250, 250, 0.6);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
#reviews-text-err {
  width: 343px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  color: rgba(250, 250, 250, 0.6);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.reviews-image {
  pointer-events: none;
}

@media screen and (max-width: 374px) {
  #reviews-text-err {
    width: 295px;
  }
}

/* ================/Mobile==================== */

/* =================Tablet==================== */

@media screen and (min-width: 768px) {
  #reviews-text-err {
    min-width: 768px;
  }

  .btn {
    width: 68px;
    height: 68px;
  }
  .reviews-list {
    max-width: 704px;
  }
  .reviews-list-item {
    width: 344px;
  }
  .reviews-btn {
    gap: 20px;
  }
}

/* ==================/Tablet================= */

/* ==================Desktop================= */

@media screen and (min-width: 1140px) {
  #reviews-text-err {
    min-width: 1376px;
  }
  .reviews-list {
    max-width: 1376px;
  }
  .reviews-list-item {
    max-width: 332px;
  }
}

/* ==================/Desktop================ */
